@*@{
    Layout = "_Layout";
}*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>БНТУ Green</title>
    <link rel="stylesheet" href="~/css/main.css" type="text/css">
</head>

<body>
    <header id="main-header">
        <a href="https://bntu.by/" target="_blank" class="logo"></a>
        <a href="/LoginWindow" class="admin"></a>
    </header>

    

    <section id="showcase">
        <div class="container">
            <h1>
                БНТУ Green
            </h1>
        </div>
    </section>

    

    <div class="container">

        <nav id="navbar" class="fixed">
            <div class="container">
                <ul>
                    <li><a href="/">О нас</a></li>
                    <li><a href="/Projecthtml/ProjectList">Проекты</a></li>
                    <li><a href="/GoogleMaps/GoogleMap">Карта раздельного сбора отходов</a></li>
                </ul>
            </div>
        </nav>
        <section id="main">
            <h2>Welcome</h2>
            <p align="justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas cupiditate dolor voluptates maxime doloribus ea a voluptatem beatae esse debitis ab ut incidunt et expedita quos sint rerum eos laborum, tempora repellat ipsum cumque velit. Fuga soluta iste, pariatur aspernatur voluptatem velit animi deserunt distinctio beatae natus totam commodi iusto vitae veniam aut? Aliquam, repudiandae provident! Facere ducimus saepe asperiores expedita dicta laborum ratione accusantium nesciunt doloremque autem. Voluptate nobis temporibus porro repellendus nesciunt ut? Aspernatur fugiat aperiam delectus repudiandae voluptatum harum mollitia expedita perspiciatis sed architecto culpa, odio impedit facilis quas obcaecati odit quos sunt et ipsum! Reprehenderit ipsum, perspiciatis nemo ea repellat officia, labore a quo ab repellendus magnam error, natus distinctio sint! Quam excepturi aut laboriosam commodi magni veritatis asperiores, tempore voluptate adipisci in suscipit at dolore, distinctio totam dolores nihil sunt sed odio, fugiat minima sequi possimus velit ea! Recusandae, laboriosam ipsa temporibus numquam dolores nam quia inventore minima necessitatibus iste vitae ad quae adipisci, distinctio magni culpa rerum dolor atque nesciunt maxime ex. Soluta illo illum natus? Vero, ea quas. Quos, et molestias repellat odit deserunt tenetur consequuntur assumenda laborum minima reprehenderit neque veniam nobis architecto blanditiis doloremque eveniet, facere magnam doloribus nulla quis recusandae?</p>
            <form action="https://forms.gle/286CHXyNJTQJiYCYA" target="_blank">
                <button id="signup">Присоединиться</button>
            </form>
        </section>
    
        
    </div>
    
    <footer id="main-footer">
        <p>Copyright &copy;2022 My Website</p>
    </footer>
    
</body>
</html>
